name: Build
on:
  pull_request:
    branches: [ master ]
  push:
    branches:
      - 'master'
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghidra:
          - "11.4"
          - "11.4.1"
          - "11.4.2"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: 'recursive'

      - uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup ghidra
        uses: antoniovazquezblanco/setup-ghidra@v2.0.17
        with:
          version: ${{ matrix.ghidra }}

      - name: Build Ghidra extension (using gradle)
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '8.14.3'
          arguments: 'buildExtension'

      - uses: actions/upload-artifact@v6
        with:
          name: psx_ldr_Ghidra_${{ matrix.ghidra }}
          path: dist/*.zip

      - name: Upload to GitHub Releases
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: dist/*.zip